.starbar {
  /* position: relative; */
  height: 30px;
  border-width: 1px;
  border-style:solid;
  border-color:#a9acaf;
  -webkit-border-radius:8px;
  padding-left:20px;
  padding-top:5px;
  background-color:#fff;
}
.starbar .outer {
  position: absolute;
  width: 200px;
  height: 20px;
  background: url(stars.gif) no-repeat 0px 0px;
}
.starbar .inner { 
/*  position: absolute;*/
  width: 0;
  height: 20px;
  background: url(stars.gif) no-repeat 0px -20px;
}

.text {
  left: -80px;
  position:absolute;
  padding-top:2px;
}

.meta {
  left:210px;
  position:absolute;
  padding-top:2px;
}

 