table
{
    font-family: Tahoma;
    font-weight: bold;
    border-spacing: 4;
    table-layout: fixed;
}

td
{
    
}

div.programtitle 
{
    margin-left: 2px;
    width: 90%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.rounded-corners 
{
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -khtml-border-radius: 4px;
    border-radius: 4px;
}

.lightgrey
{
    background-color: #D0D0D0;
    border-color: #000000;
}

.midgrey
{
    background-color: #C0C0C0;
    border-color: #000000;
}

.darkgrey
{
    background-color: #404040;
    border-color: #000000;
 }

.red
{
    background-color: #C00000;
    border-color: #000000;
}

.largewhite
 {
	color: #FFFFFF;
    font-size: large;
}

.largerwhite
 {
	color: #FFFFFF;
    font-size: larger;
}

.largeblack
 {
	color: #000000;
    font-size: large;
}

.largerblack
 {
	color: #000000;
    font-size: larger;
}

.whitewhite
 {
	color: #FFFFFF;
    font-size: small;
}

.smallerwhite
 {
	color: #FFFFFF;
    font-size: smaller;
}

.smallblack
 {
	color: #000000;
    font-size: small;
}

.smallerblack
 {
	color: #000000;
    font-size: smaller;
}

.button 
{
	font-size:20px;
	font-weight: bolder;
	color:#000;
	text-decoration:none;
	width:30px;
	border:1px solid #DDD;
	text-align:center;
    padding: 3px;
    
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	-o-border-radius:5px;
	border-radius:5px;
}

.button:hover 
{
	color:#3278BE;
	border-color:#3278BE;
}

#nav{
	float:left;
	width:100%;
	list-style:none;
	font-weight:bold;
	margin-bottom:10px;
}
#nav li{
	float:left;
	margin-right:10px;
	position:relative;
	display:block;
}
#nav li a{
	display:block;
	padding:5px;
	color:#fff;
	background:#333;
	text-decoration:none;

	text-shadow:1px 1px 1px rgba(0,0,0,0.75); /* Text shadow to lift it a little */
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	border-radius:2px;
}
#nav li a:hover{
	color:#fff;
	background:#6b0c36; /* Solid colour fall-back */
	background:rgba(107,12,54,0.75); /* It'll look nice semi-transparent */
	text-decoration:underline;
}

/*--- DROPDOWN ---*/
#nav ul{
	list-style:none;
	position:absolute;
	left:-9999px; /* Hide off-screen when not needed (this is more accessible than display:none;) */
	opacity:0; /* Set initial state to transparent */
	-webkit-transition:0.25s linear opacity; /* Make the dropdown fade-in in Webkit */
}
#nav ul li{
	padding-top:1px; /* Introducing a padding between the li and the a give the illusion spaced items */
	float:none;
}
#nav ul a{
	white-space:nowrap; /* Stop text wrapping and creating multi-line dropdown items */
	display:block;
}
#nav li:hover ul{ /* Display the dropdown on hover */
	left:0; /* Bring back on-screen when needed */
	opacity:1; /* Fade to opaque */
}
#nav li:hover a{ /* Set styles for top level when dropdown is hovered */
	background:#6b0c36; /* Solid colour fall-back */
	background:rgba(107,12,54,0.75); /* It'll look nice semi-transparent */
	text-decoration:underline;
}
#nav li:hover ul a{ /* Override some top level styles when dropdown is hovered */
	text-decoration:none;
	-webkit-transition:-webkit-transform 0.075s linear;
}
#nav li:hover ul li a:hover{ /* Set styles for dropdown when items are hovered */
	background:#333; /* Solid colour fall-back */
	background:rgba(51,51,51,0.75); /* It'll look nice semi-transparent */
	text-decoration:underline;
	-moz-transform:scale(1.05);
	-webkit-transform:scale(1.05);
}

