<appconfig>
  <transcoders>
    <transcoder name="SmoothStream" usetranscoding="1" filename="&quot;##FFMPEGPATH##\ffmpeg.exe&quot;" args="-i - -threads 4 -re -vcodec libx264 -fpre &quot;##FFMPEGPATH##/ffpresets/libx264-iPiMP.ffpreset&quot; -b 256k -s 420x272 -acodec libfaac -ac 2 -ab 64k -ar 48000 -ac 2 -async 2 http://##LISTEN##/SmoothStream/live.ism?stream_id=live-256-64k.ismv" inputmethod="2" outputmethod="4" />
  </transcoders>
</appconfig>