<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<appSettings>
  <add key="HOSTNAME" value="LOCALHOST" />
  <add key="VERSION" value="v4.0.0_test" />
  <add key="STREAMPATH" value="D:\Dev\vs2008\MediaPortal Universal Web Interface\MP4" />
  <add key="USETVSERVER" value="true" />
  <add key="USEMPCLIENT" value="true" />
  <add key="PAGESIZE" value="5" />
 </appSettings>
	
  <connectionStrings>
	  <remove name="LocalSqlServer" />
		<add name="uWiMPConnString" connectionString="Data Source=|DataDirectory|uWiMP.db;" />
	</connectionStrings>
	
  <system.web>
		
    <compilation debug="true" strict="false" explicit="true" />
    
    <globalization uiCulture="auto" />
  
    <roleManager defaultProvider="SQLiteRoleProvider" enabled="true" cacheRolesInCookie="true" cookieName=".ASPROLES" cookieTimeout="300000" cookiePath="/" cookieRequireSSL="false" cookieSlidingExpiration="true" cookieProtection="All">
			<providers>
				<clear />
				<add name="SQLiteRoleProvider" type="Website.uWiMP.TVServer.SQLiteRoleProvider" connectionStringName="uWiMPConnString" applicationName="uWiMP" writeExceptionsToEventLog="false" />
			</providers>
		</roleManager>

    <membership defaultProvider="SQLiteMembershipProvider" userIsOnlineTimeWindow="15">
			<providers>
				<clear />
				<add name="SQLiteMembershipProvider" type="Website.uWiMP.TVServer.SqliteMembershipProvider" connectionStringName="uWiMPConnString" applicationName="uWiMP" requireEmail="false" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" passwordFormat="Hashed" writeExceptionsToEventLog="false" />
			</providers>
		</membership>
		
    <authentication mode="Forms">
			<forms name=".ASPXAUTH" loginUrl="DefaultLogin.aspx" protection="All" timeout="300000" path="/" requireSSL="false" slidingExpiration="true" defaultUrl="Default.aspx" cookieless="UseCookies" />
		</authentication>
		
    <authorization>
			<deny users="?" />
		</authorization>
    
	</system.web>

</configuration>
